NODE_ENV=development
PORT=5000
MONGO_URI=mongodb://localhost:27017/lims
JWT_SECRET=lims-super-secret-jwt-key-2026-change-in-prod
JWT_EXPIRES_IN=8h
FRONTEND_URL=http://localhost:5173
UPLOAD_PATH=./uploads
LIS_ADAPTER_TYPE=mock
LIS_POLLING_INTERVAL=30000
